@normalize;

@font-face {
  font-family: 'JetBrains';
  src: url('../src/fonts/JetBrainsMono-Bold.ttf');
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

@media (max-width: 600px) {
  html {
    font-size: 2px;
  }
}
